<h2>Hola soy la página del Index</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium pariatur ut unde suscipit asperiores ea minus
    nobis eligendi cumque doloremque consequuntur esse consequatur voluptas iste eum commodi, nisi repellendus.
    Explicabo.</p>